.about-us {
    padding-bottom: 25px;
}

.about-us__content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.about-us__author-image {
    position: relative;
    overflow: hidden;
    width: 156px;
    height: 155px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 20px;
}

.about-us__text-title {
    display: block;
    margin-bottom: 10px;

    font-family: "Intro Script R H2 Base", "Arial", "Helvetica", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: 0;
    color: #32313d;
}

.about-us__tagline {
    margin-bottom: 10px;

    font-family: "Circe", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: 0;
    color: #2d2829;
}

.about-us__desc {
    margin: 0;
    margin-bottom: 15px;

    font-family: "Circe", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: 0;
    color: #2d2829;
}

.about-us__quote-block {
    padding-top: 35px;
}

.about-us__quote {
    position: relative;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 60px;
    text-align: center;

    font-family: "Playfair Display", "Arial", "Helvetica", sans-serif;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    line-height: 1.2em;
    letter-spacing: .01em;
    color: #2d2829;
}

.about-us__quote::before {
    content: "’’";
    position: absolute;
    background-repeat: no-repeat;

    top: 5px;
    left: 50%;
    margin-left: -23px;
    font-family: "Playfair Display", "Arial", "Helvetica", sans-serif;
    color: #fffefe;
    font-size: 60px;
    font-weight: 700;
}

.about-us__quote::after {
    content: "";
    position: absolute;
    background-image: url("../img/about_us_signature_small.png");
    background-repeat: no-repeat;
    width: 64px;
    height: 31px;
    bottom: 5px;
    left: 50%;
    margin-left: -32px;
}

@media (min-width: 768px) {
    .about-us__text-wrapper {
        order: 1;
        width: 330px;
        margin-right: 35px;
    }
    .about-us__text-title {
        font-size: 26px;
    }
    .about-us__tagline {
        font-size: 15px;
    }
    .about-us__desc {
        margin-bottom: 10px;
    }
    .about-us__author-image {
        width: 313px;
        height: 311px;
        order: 2;
        margin-top: -45px;
    }
    .about-us__quote-block {
        margin: 0 auto;
        width: 374px;
        order: 3;
    }
    .about-us__quote {
        padding-top: 55px;
        padding-bottom: 80px;
        font-size: 14px;
    }
    .about-us__quote::before {
        top: 15px;
        margin-left: -30px;
        font-size: 78px;
    }
    .about-us__quote::after {
        background-image: url("../img/about_us_signature_medium.png");
        width: 82px;
        height: 40px;
        bottom: 10px;
        margin-left: -41px;
    }
}

@media (min-width: 1366px) {
    .about-us__text-wrapper {
        width: 600px;
        margin-right: 40px;
    }
    .about-us__text-title {
        font-size: 35px;
    }
    .about-us__tagline {
        font-size: 20px;
    }
    .about-us__desc {
        font-size: 15px;
        margin-bottom: 23px;
    }
    .about-us__author-image {
        width: 509px;
        height: 510px;
        margin-top: -110px;
    }
    .about-us__quote-block {
        width: 674px;
        order: 3;
    }
    .about-us__quote {
        padding-top: 137px;
        padding-bottom: 160px;
        font-size: 25px;
    }
    .about-us__quote::before {
        top: 60px;
        margin-left: -50px;
        font-size: 140px;
    }
    .about-us__quote::after {
        background-image: url("../img/about_us_signature_large.png");
        width: 149px;
        height: 73px;
        bottom: 10px;
        margin-left: -71px;
    }
}
