.button {
    display: block;
    max-width: 155px;
    background-color: #f50049;
    border: none;
    border-radius: 20px;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    font-family: "Circe", "Arial", "Helvetica", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0;
    color: #fff;
    transition: box-shadow .3s ease-out;
}

.button:hover,
.button:focus {
    box-shadow: 0px 5px 7.04px 0.96px rgba(255, 0, 67, 0.3);
}

.header__button {
    order: 3;
    margin: 0 auto;
}

.button__small {
    max-width: none;
    width: 180px;
    margin: 0 auto;
}

.button__submit {
    max-width: none;
    width: 230px;
    margin: 0 auto;
}

.contact__button {
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .header__button {
        margin: 0;
        margin-bottom: 145px;
    }
    .button__small {
        margin: 0;
    }
    .ind-order__filling-block__button {
        width: 135px;
    }
    .ind-order__decor-button {
        display: none;
    }
    .button__submit {
        width: 160px;
        max-height: 43px;
        font-size: 10px;
        line-height: 27px;
    }
    .contact__button {
        width: 160px;
    }
}

@media (min-width: 1366px) {
    .header__button {
        margin-bottom: 128px;
    }
    .ind-order__filling-block__button {
        width: 180px;
    }
    .button__submit {
        width: 225px;
        font-size: 13px;
        height: 50px;
        max-height: none;
    }
}
