.header {
    overflow: hidden;
}

.header__content {
    padding: 130px 0 50px;
}

.header__bg {
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    width: 381px;
    height: 185px;
    background-image: url("../img/header_bg_small.jpg");
    background-repeat: no-repeat;
    margin-left: -190.5px;
    z-index: -10;
}

.header__advantages-list {
    order: 4;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.header__advantages-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 45px;
    min-height: 33px;
}

.header__advantages-item_width_80 {
    max-width: 200px;
}

.header__advantages-item_width_190 {
    max-width: 200px;
}

.header__advantages-item:last-child {
    margin-bottom: 0;
}

.icon_ingredients::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
    height: 33px;
    background-image: url("../img/icon_ingredients_small.png");
    background-repeat: no-repeat;
}

.icon_delivery::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
    height: 32px;
    background-image: url("../img/icon_delivery_small.png");
    background-repeat: no-repeat;
}

.header__advantages-item__text {
    font-family: "Circe", "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0;
    color: #000;
}

@media (min-width: 768px) {
    .header__content {
        display: flex;
        flex-direction: column;
    }
    .header__bg {
        top: 15px;
        left: auto;
        right: -125px;
        width: 632px;
        height: 571px;
        background-image: url("../img/header_bg_medium.jpg");
        margin-left: 0;
    }
    .header__advantages-list {
        max-width: 490px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .header__advantages-item {
        margin-right: 70px;
        margin-bottom: 30px;
        padding-left: 70px;
        min-height: 55px;
    }
    .header__advantages-item:nth-child(2n) {
        margin-right: 0;
    }
    .header__advantages-item_width_80 {
        max-width: 80px;
    }

    .header__advantages-item_width_190 {
        max-width: 190px;
    }
    .icon_ingredients::before,
    .icon_delivery::before {
        top: 0;
        left: 0;
        width: 55px;
        height: 55px;
    }
    .icon_ingredients::before {
        background-image: url("../img/icon_ingredients_medium.png");
    }
    .icon_delivery::before {
        height: 54px;
        background-image: url("../img/icon_delivery_medium.png");
    }
    .header__advantages-item__text {
        padding: 10px 0;
        display: block;
    }
}

@media (min-width: 1366px) {
    .header__bg {
        top: 0;
        right: -160px;
        width: 1179px;
        height: 941px;
        background-image: url("../img/header_bg_large.jpg");
    }
    .header__content {
        padding: 150px 0 240px;
    }
}
